# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env

# Flask/SQLAlchemy/migrations
instance/

# Flask-SQLAlchemy
*.sqlite3
*.db

# Logs
*.log

# VSCode and PyCharm project files
.vscode/
.idea/

# macOS files
.DS_Store

# Python pip files
*.egg-info/
.eggs/
